services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.4.7
    networks:
      - app-network
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data
    command: start-dev

networks:
  app-network:
volumes:
  keycloak_data:
